* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: #0e0e0e;
}

.navbarIcon {
    width: 24px; 
    height: 24px; 
    padding-right: 10.9px;
    padding-top: 5.1px;
}

.navbarTitle {
    font-size: 20px; 
    letter-spacing: -0.2px; 
    font-weight: 600; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #e9eaeb; 
    padding-right: 6.5px; 
    padding-top: 4.3px;
}

.navbarPageLinks {
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    display: inline-block;
    color: #9ba3b4;
}

.themeToggle {
    width: 20px; 
    height: 20px; 
    padding-left: 290px; 
    padding-top: 7.5px; 
    cursor: pointer;
}

.searchBox {
    border-radius: 5px; 
    padding: 7px; 
    font-size: 14px; 
    font-size: 15px; 
    font-weight: 400; 
    background-color: black; 
    border: 1px solid rgb(255 255 255 / 15%)
}

.downloadButton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 16px; 
    font-weight: 600; 
    background-color: #0078d4; 
    color: white; 
    padding: 5px 16px; 
    border-radius: 5px;
}

.versionInfoText {
    color: #9ba3b4; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    font-weight: 500; 
    padding: 30px;
}

.buildInfoBox {
    border: 1px solid rgb(255 255 255 / 7%); 
    background-color: rgb(255 255 255 / 4%); 
    font-size: 14px; 
    font-weight: 600; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    border-radius: 32px; 
    color: #9ba3b4; 
    width: max-content; 
    padding: 8px 12px; 
    margin-left: 140px; 
    margin-top: 110px;
}

.headings {
    color: #e9eaeb; 
    font-size: 55px; 
    font-weight: 600; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin-top: 20px; 
    margin-left: 140px; 
    display: inline-block; 
    margin-bottom: 10px;
}

.downloadForWindowsButton {
    background-color: #0078d4; 
    font-size: 1.8rem; 
    padding: 12px 24px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: 500; 
    color: white; 
    margin-left: 140px; 
    margin-top: 15px;
}

.platforms {
    font-size: 14px; 
    font-weight: 500; 
    margin: 16px 0 8px; 
    color: #9ba3b4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    padding-left: 140px;
}

.agreement {
    font-size: 11px; 
    font-weight: 400; 
    margin-top: 20px; 
    color: #9ba3b4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    padding-left: 140px;
}

.screenshotImage {
    width: 90%; 
    margin-left: -80px; 
    margin-top: 20px;
}

.linkColor {
    color: #4daafc;
}